.main {
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient(#434141, gray);
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dragDiv{
    height: 100%;
    border: 1px solid grey;
    width: 90%;
    position: relative;
    box-sizing: border-box;
}

.dragInput{
    background: none;
    border: none;
    padding: 0.5rem;
    font-size: 25px;
    resize: both;
    font-weight: 900;
    color: #fff;
}